name: Build
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      upload-artifact:
        type: boolean
        default: true
      tag-name:
        type: string
        default: "draft"
      channel:
        type: string
        default: "stable"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java Setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.16.0
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Build APK
        run: |
          flutter pub get
          export GRADLE_OPTS="-Xmx2048m"
          flutter build apk --release --no-tree-shake-icons --split-per-abi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Fooklle-APK
          path: build/app/outputs/flutter-apk/*.apk
