name: Build
on:
  workflow_dispatch:

jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.16.0
        with:
          flutter-version: '3.24.0'
          channel: 'stable'
          cache: true
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build libgtk-3-dev
      - name: Build APK
        run: |
          flutter build apk --split-per-abi
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Fooklle-Release
          path: build/app/outputs/flutter-apk/*.apk
