name: Mobile Build
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.16.0
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Force Get Deps
        run: |
          flutter pub get || echo "Dependencies error, continuing..."
        continue-on-error: true

      - name: Build APK (Fast)
        run: |
          flutter build apk --release --no-tree-shake-icons --ignore-deprecation
        continue-on-error: true

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Fooklle-Mobile
          path: build/app/outputs/flutter-apk/*.apk
